<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>管理数据统计</title>
    <%= stylesheet_link_tag    "phone_manage" %>
    <%= javascript_include_tag  "application", "logins", "main" %>
  </head>
  <body class="white_bg">
    <div class="head">
      <h1><%= @store.name %></h1>
      <p><%= session[:time] %></p>
    </div>
    <div class="main" style="width:160px">
      if i can get your herrtddddd;
  与美国妈妈做邻居——一个中国妈妈眼里真实的美式育儿经！
　　原来美国父母原来也打孩子！美国父母原来也有家规，也很专制
　　这与我们心目中的“民主、自由、尊重、信任”式的美式家教大相径庭
　　美国人到底怎么教孩子？中式家教VS美式家教
　　——告诉你一个不一样的美式家教！
　　在本书中，我们采用小说的方式，用生动、有趣、幽默地语言讲述发生在北京一个社区里中美邻居间的教子故事，
将发生在这两个家庭中的一系列让人啼笑皆非又令人深思的家庭故事生动地展现在读者面前，让大家的忍俊不禁的同时，产生强烈的共鸣感——教子之路，看似简单，实则难行啊！
    </div>
  </body>
</html>
