<div class="second_menu"><a href="#" class="hover">目标销售额</a><a href="#">活动订单统计</a><a href="#">销售报表</a>
  <a href="#">营业额汇总表</a><a href="#">储值卡消费记录</a><a href="#">每日销售单据</a><a href="#">储值卡对账单</a>
</div>
<div class="clear"></div>
<div class="tab_head">
  <ul>
    <li class="hover">当前制定目标销售额</li>
    <li>过往记录</li>
  </ul>
</div>
<div class="data_body">
  <div>
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="data_table">
      <thead>
        <tr class="hbg">
          <td>时间</td>
          <td>分类</td>
          <td>目标销售额（元）</td>
          <td>目前完成销售额（元）</td>
          <td>目前完成百分比</td>
          <td>剩余时间（天）</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td rowspan="3">2012.01--2013.01</td>
          <td>服务类</td>
          <td>10000</td>
          <td>5000</td>
          <td>50%</td>
          <td rowspan="3">5天</td>
        </tr>
        <tr>
          <td>卡类</td>
          <td>10000</td>
          <td>5000</td>
          <td>50%</td>
        </tr>
        <tr>
          <td>产品类</td>
          <td>10000</td>
          <td>5000</td>
          <td>50%</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div style="display:none;">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="data_table">
      <thead>
        <tr class="hbg">
          <td>时间</td>
          <td>分类</td>
          <td>目标销售额（元）</td>
          <td>目前完成销售额（元）</td>
          <td>目前完成百分比</td>
          <td>剩余时间（天）</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td rowspan="3">2012.01--2013.01</td>
          <td>服务类</td>
          <td>10000</td>
          <td>5000</td>
          <td>50%</td>
          <td rowspan="3">5天</td>
        </tr>
        <tr>
          <td>卡类</td>
          <td>10000</td>
          <td>5000</td>
          <td>50%</td>
        </tr>
        <tr>
          <td>产品类</td>
          <td>10000</td>
          <td>5000</td>
          <td>50%</td>
        </tr>

        <tr>
          <td rowspan="3">2012.01--2013.01</td>
          <td>服务类</td>
          <td>10000</td>
          <td>5000</td>
          <td>50%</td>
          <td rowspan="3">5天</td>
        </tr>
        <tr>
          <td>卡类</td>
          <td>10000</td>
          <td>5000</td>
          <td>50%</td>
        </tr>
        <tr>
          <td>产品类</td>
          <td>10000</td>
          <td>5000</td>
          <td>50%</td>
        </tr>

        <tr>
          <td rowspan="3">2012.01--2013.01</td>
          <td>服务类</td>
          <td>10000</td>
          <td>5000</td>
          <td>50%</td>
          <td rowspan="3">5天</td>
        </tr>
        <tr>
          <td>卡类</td>
          <td>10000</td>
          <td>5000</td>
          <td>50%</td>
        </tr>
        <tr>
          <td>产品类</td>
          <td>10000</td>
          <td>5000</td>
          <td>50%</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
