<div id="message_div" style="display: none;">
  发短信
  <%= form_for :customer ,:url=>"/stores/#{@store.id}/customers/single_send_message", 
    :method => "post", :html => {:onsubmit => "return check_single_send()"} do %>
    <input type="hidden" name="m_customer_id" id="m_customer_id" value="" />
    <a href="javascript:void(0)" onclick="show_name()">%name%</a>&nbsp;&nbsp;
    <a href="javascript:void(0)" onclick="javascript:show_store_name('<%= @store.name %>')" >门店名称</a><br/>
    <textarea id="content" name="content" cols="60" rows="6"></textarea>
    <button type="submit">保存</button>
  <% end %>
</div>