<div class="search">
  <div><label>状态：</label>
    <select name="">
      <option>已付款</option>
    </select>
  </div>
  <div><label>时间：</label><input name="" type="text" id="date01"> 到 <input name="" type="text" id="date02"></div>
  <div><button class="search_btn">查询</button></div>
</div>
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="data_table">
  <thead>
  <tr class="hbg">
    <td>订货单号</td>
    <td>详细内容</td>
    <td>总价</td>
    <td>订货时间</td>
    <td>预计到货时间</td>
    <td>物流状态</td>
    <td>物流信息</td>
    <td>付款状态</td>
    <td>操作</td>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>213546987</td>
    <td>
      <table width="100%" border="0" cellspacing="1" cellpadding="0" class="s_table">
        <tr class="fws">
          <td>名称</td>
          <td>单价</td>
          <td>数量</td>
        </tr>
        <tr>
          <td>蜡</td>
          <td>1000</td>
          <td>1000</td>
        </tr>
        <tr>
          <td>蜡</td>
          <td>1000</td>
          <td>1000</td>
        </tr>
      </table>

    </td>
    <td>1000</td>
    <td>2012-12-12</td>
    <td>2012-12-12</td>
    <td>发货中</td>
    <td>电话：1325487963<br>承运人：张三</td>
    <td>已付款</td>
    <td><a href="#">催货</a><a href="#">退款</a><a href="#">取消</a><a href="#">备注</a></td>
  </tr>
  <tr>
    <td>213546987</td>
    <td></td>
    <td>1000</td>
    <td>2012-12-12</td>
    <td>2012-12-12</td>
    <td>未货中</td>
    <td>2012-12-12</td>
    <td>未付款</td>
    <td><a href="#">催货</a><a href="#">付款</a><a href="#">取消</a><a href="#">备注</a></td>
  </tr>
  <tr>
    <td>213546987</td>
    <td></td>
    <td>1000</td>
    <td>2012-12-12</td>
    <td>2012-12-12</td>
    <td>发货中</td>
    <td>2012-12-12</td>
    <td>未付款</td>
    <td><a href="#">催货</a><a href="#">付款</a><a href="#">取消</a><a href="#">备注</a></td>
  </tr>
  <tr>
    <td>213546987</td>
    <td></td>
    <td>1000</td>
    <td>2012-12-12</td>
    <td>2012-12-12</td>
    <td>已收货未入库</td>
    <td>2012-12-12</td>
    <td>已付款</td>
    <td><a href="#">付款</a><a href="#">取消</a><a href="#">备注</a></td>
  </tr>
  <tr>
    <td>213546987</td>
    <td></td>
    <td>1000</td>
    <td>2012-12-12</td>
    <td>2012-12-12</td>
    <td>已收货已入库</td>
    <td>2012-12-12</td>
    <td>已付款</td>
    <td><a href="#">备注</a></td>
  </tr>
  </tbody>
</table>
<div class="pageTurn">
  <a href="#" class="disabled">上一页</a>
  <a href="#" class="current">1</a>
  <a href="#?page=2">2</a>
  <a href="#?page=3">3</a>
  <a href="#?page=4">4</a>
  <a href="#?page=5">5</a>...<a href="#?page=199">199</a>
  <a href="#?page=200">200</a>
  <a href="#?page=2">下一页</a>
</div>