<% if @status == true %>
  tishi_alert('删除成功!');
<% else %>
  tishi_alert('删除失败!');
<% end %>
$("#page_loss_div #search_material_type").html("<option value='-1' selected>全部</option><% @types.each do |t| %><option value='<%= t.id %>'><%= t.name %></option><% end %>");
$("#page_loss_div #search_material_name").val("");
$("#page_loss_div #search_material_code").val("");
$("#page_materails_losses").html('<%= escape_javascript(render :partial => '/materials/materials_losses') %>');