<table class="bill_table" style="float: right;">
  <thead>
    <tr>
      <th>名称</th>
      <th>数量</th>
      <th>单价</th>
      <th>小计</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody id="table_item">

  </tbody>
</table>