<div class="data_box">
  <div class="clear"></div>
  <div class="data_body">
    <div>
      <div class="item">
        <label>选择省市：</label><select name="" class="staff">
          <option>浙江省</option>
        </select>
        <select name="" class="staff">
          <option>杭州市</option>
        </select>
      </div>
      <div class="item">
        <label>门店名称：</label><input name="" type="text"/>
      </div>
      <div class="item">
        <label>负责人：</label><input name="" type="text"/>
      </div>
      <div class="item">
        <label>联系电话：</label><input name="" type="text"/>
      </div>
      <div class="item">
        <label>地址：</label><input name="" type="text"/>
      </div>
      <div class="item">
        <label>开店时间：</label><input name="" type="text"/>
      </div>
      <div class="item">
        <label>门店状态：</label><select name="">
          <option>筹备中</option>
        </select>
      </div>
      <div class="item">
        <label>门店坐标：</label>
        <span>X-</span><input name="" type="text" class="xyAxis"/>
        <span>Y-</span><input name="" type="text" class="xyAxis"/>
        <a href="#" class="mapIcon"><img src="images/mapIcon.png"  alt="点击打开地图查看" title="点击打开地图查看"/></a>
      </div>

    </div>
    <div class="clear"></div>
  </div>
</div>