<% if @type == 0 %>
    <ul>
    <% (@search_materials || []).each do |m| %>
        <li><%= check_box_tag "mat_#{m.id}",m.storage.to_i,false,{:onclick=>"select_material(this,'#{m.name}',
  '#{Material::TYPES_NAMES.to_a[m.types.to_i][1]}',#{@type})"} %><%= m.name %></li>
    <% end %>
        </ul>
<% else %>
    <ul>
    <% (@search_materials || []).each do |m| %>
        <li><%= check_box_tag "mat_#{m.id}",m.storage.to_i,false,{:onclick=>"select_order_material(this,'#{m.name}',
  '#{Material::TYPES_NAMES.to_a[m.types.to_i][1]}',#{@type},'#{m.code}','#{m.price}')"} %><%= m.name %></li>
    <% end %>
        </ul>
<% end %>