<div class="releaseDiv">
  <div class="releaseDiv_l">标题：</div>
  <div class="releaseDiv_r"><input name="" type="text" class="title_input" value="<%= @sale.name %>" /></div>
</div>
<%= render 'sale_search' %>
<div class="releaseDiv">
  <div class="releaseDiv_l">优惠：</div>
  <div class="releaseDiv_r">
    <input name="" type="radio" value="" />金额：<input name="" type="text" />
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input name="" type="radio" value="" />打折：<input name="" type="text" />&nbsp;&nbsp;折
  </div>
</div>
<div class="releaseDiv">
  <div class="releaseDiv_l">优惠时间：</div>
  <div class="releaseDiv_r">
    <input name="" type="radio" value="" />日&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input name="" type="radio" value="" />周&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input name="" type="radio" value="" />月&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input name="" type="radio" value="" />年&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input name="" type="radio" value="" />有效期：<input name="" type="text" disabled />&nbsp;&nbsp;到&nbsp;&nbsp;
    <input name="" type="text" disabled />
  </div>
</div>

<div class="releaseDiv">
  <div class="releaseDiv_l">每辆车享受优惠次数：</div>
  <div class="releaseDiv_r"><input name="" type="text" />&nbsp;&nbsp;次</div>
</div>

<div class="releaseDiv">
  <div class="releaseDiv_l">本次活动车辆总数：</div>
  <div class="releaseDiv_r"><input name="" type="text" />&nbsp;&nbsp;辆</div>
</div>

<div class="releaseDiv">
  <div class="releaseDiv_l">活动图片：</div>
  <div class="releaseDiv_r"><input name="" type="text" class="file" />
    <button class="file_btn">浏览</button></div>
</div>
<div class="releaseDiv">
  <div class="releaseDiv_l">是否总店补贴：</div>
  <div class="releaseDiv_r">
    <input name="" type="radio" value="" />是&nbsp;&nbsp;<input name="" type="text" />
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input name="" type="radio" value="" />&nbsp;&nbsp;否
  </div>
</div>

<div class="releaseDiv">
  <div class="releaseDiv_l">活动介绍：</div>
  <div class="releaseDiv_r">
    <textarea name="" cols="" rows=""></textarea>
  </div>
</div>