<div class="releaseDiv">
  <div class="releaseDiv_l">选择产品/服务项目：</div>
  <div class="releaseDiv_r rdTop">
    <div class="search">
      <div><label>类别：</label>
        <select name="sale_types" id="sale_types">
          <option value="">请选择</option>
          <% Product::PRODUCT_TYPES.each do |key,value| %>
            <option value="<%= key %>"><%= value %></option>
          <% end %>
        </select>
      </div>
      <div><label>名称：</label><input id="sale_name" type="text" /></div>
      <div><button class="search_btn" onclick="load_types('<%= params[:store_id] %>')">查询</button></div>
    </div>
    <fieldset class="popup_body_fieldset">
      <legend class="popup_body_title">查询结果</legend>
      <div class="popup_body_result">
        <ul>
        </ul>
      </div>
    </fieldset>
    <div class="pq"></div>
    <fieldset class="popup_body_fieldset">
      <legend class="popup_body_title">已选择</legend>
      <div class="popup_body_result" id="add_products">
      </div>
    </fieldset>

  </div>
</div>