<!doctype html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>入库出库</title>
    <%= stylesheet_link_tag    "application", "material_in_out" %>
    <%= javascript_include_tag "application", "material_in_out" %>
    <%= csrf_meta_tags %>
    <!--[if IE 6]>
      <script src="js/DD_belatedPNG_0.0.8a-min.js"></script>
      <script>
        DD_belatedPNG.fix('*');
      </script>
    <![endif]-->
  </head>
  <body>
    <div class="mat-head">
      <div class="logo">澜泰后台管理系统</div>
    </div>
    <%= yield %>
  </body>
</html>
